.card {
  background-color: black;
  width: 180px;
  min-height: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.card > h4 {
  font-weight: 600;
  font-size: large;
  margin-bottom: 10px;
}

.card > p {
  word-break: break-all;
}
.cardBtn {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.cardBtn > div {
  display: flex;
  margin: 10px 0;
}

.cardBtn > div > button {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(42, 229, 42);
  font-weight: 800;
  cursor: pointer;
}
.cardBtn > div > button:first-child {
  margin-right: 10px;
  border: 1px solid red;
}
.cardBtn > div > button:nth-child(2) {
  margin-right: 10px;
  border: 1px solid blue;
}
